* {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif; }

/*INDEX-DISCOGRAFIA-GALERIA-MUSICA-CONTACTO*/
body {
  background-color: black; }

.cabeza {
  height: 100vh;
  background-image: url(../imagenes/imagen3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

h2 {
  color: #dfa2c5;
  text-align: center;
  font-size: 45px;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #5757a2;
  border-radius: 10px; }

.subtitulo {
  margin-top: 50px; }

.nav-link {
  font-size: 18px; }

/*FOOTER DE TODAS LAS PAGINAS*/
footer {
  padding: 0 20px; }

.text-center {
  color: #dfa2c5; }

.redes {
  transition: 0.5s all; }
  .redes:hover {
    transform: scale(1.4); }

/*TITULO DE TODAS LAS PAGINAS*/
.subcabeza {
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .subcabeza p {
    color: white;
    font-size: 20px;
    font-weight: bold; }
  .subcabeza h1 {
    color: #dfa2c5;
    font-family: 'Libre Baskerville', serif;
    font-size: 100px; }

/*INDEX*/
.btn {
  margin-top: 20px;
  background-color: #1b0621;
  color: white;
  border: 3px solid #5757a2; }

.principal {
  padding: 0 20px; }
  .principal p {
    color: white;
    padding: 20px;
    background-color: rgba(189, 45, 233, 0.143);
    border-radius: 10px;
    margin: auto; }
  .principal h2 {
    margin-bottom: 50px; }

.card-body {
  background-color: black; }
  .card-body .card-title {
    text-align: center;
    color: #dfa2c5;
    font-weight: bold;
    font-size: 25px; }

/*GALERIA*/
.galeria-imagen img {
  transition: all 0.8s; }
  .galeria-imagen img:hover {
    filter: grayscale(1.5);
    cursor: pointer; }

.galeria {
  padding: 0 20px;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-template-areas: "img2 img3 img1 img1"  "img4 img4 img1 img1" "img5 img5 img8 img8" "img5 img5 img6 img7";
  gap: .8em; }

.galeria-imagen--g1 {
  grid-area: img1; }

.galeria-imagen--g2 {
  grid-area: img2; }

.galeria-imagen--g3 {
  grid-area: img3; }

.galeria-imagen--g4 {
  grid-area: img4; }

.galeria-imagen--g5 {
  grid-area: img5; }

.galeria-imagen--g6 {
  grid-area: img6; }

.galeria-imagen--g7 {
  grid-area: img7; }

.galeria-imagen--g8 {
  grid-area: img8; }

.galeria-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (max-width: 600px) {
  footer {
    padding: 0 10px; }
    footer h2 {
      margin-left: 8px;
      margin-right: 8px;
      font-size: 35px; }
  h2 {
    font-size: 35px; }
  .subcabeza h1 {
    font-size: 50px; }
  .subtitulo {
    font-size: 35px;
    margin-left: 4px;
    margin-right: 4px; }
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img1 img1" "img1 img1" "img4 img4" "img4 img4" "img2 img7" "img5 img5" "img5 img5" "img6 img3" "img8 img8" "img8 img8"; } }

/*CONTACTO*/
.cuerpo-contacto {
  padding: 0 20px; }
  .cuerpo-contacto h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 100px; }
  .cuerpo-contacto h2 {
    margin-bottom: 10px; }
  .cuerpo-contacto form {
    color: white;
    background-color: rgba(189, 45, 233, 0.143);
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-size: 22px; }
  .cuerpo-contacto input {
    color: white;
    width: 100%;
    background-color: #5757a2;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none; }
  .cuerpo-contacto .boton {
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 10px;
    font-size: 19px; }

.datos {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px; }

textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 100px; }

/*Musica*/
.cuerpo-musica {
  padding: 0 20px; }
