* {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif; }

/*INDEX-DISCOGRAFIA-GALERIA-MUSICA-CONTACTO*/
body {
  background-color: black; }

.cabeza {
  height: 100vh;
  background-image: url(../imagenes/imagen3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

h2 {
  color: #dfa2c5;
  text-align: center;
  font-size: 55px;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #5757a2;
  border-radius: 10px; }

.subtitulo {
  margin-top: 50px; }

/*FOOTER DE TODAS LAS PAGINAS*/
footer p {
  color: white;
  text-align: center;
  background-color: rgba(189, 45, 233, 0.143);
  padding: 15px;
  border-radius: 10px; }

footer h2 {
  text-align: center;
  color: #dfa2c5;
  margin: 80px;
  font-size: 50px; }

footer li {
  display: inline-block;
  list-style: none;
  text-align: center;
  text-decoration: none;
  width: 19%;
  margin-bottom: 30px; }

footer img {
  background-color: rgba(189, 45, 233, 0.143);
  padding: 20px;
  border-radius: 10px;
  box-sizing: content-box; }

/*TITULO DE TODAS LAS PAGINAS*/
.subcabeza {
  padding: 0 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.subcabeza p {
  color: white;
  font-size: 20px;
  font-weight: bold; }

.subcabeza h1 {
  color: #dfa2c5;
  font-family: 'Libre Baskerville', serif;
  font-size: 100px; }

/*INDEX*/
.principal {
  padding: 0 50px; }

.principal p {
  color: white;
  padding: 45px;
  background-color: rgba(189, 45, 233, 0.143);
  border-radius: 10px;
  margin: auto; }

.principal h2 {
  margin-bottom: 50px; }

.card-body {
  background-color: black; }

.card-body .card-title {
  text-align: center;
  color: #dfa2c5;
  font-weight: bold;
  font-size: 25px; }

/*GALERIA*/
.galeria {
  padding: 0 50px;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-template-areas: "img2 img3 img1 img1" 
 "img4 img4 img1 img1"
 "img5 img5 img8 img8"
 "img5 img5 img6 img7";
  gap: .8em; }

.galeria-imagen--g1 {
  grid-area: img1; }

.galeria-imagen--g2 {
  grid-area: img2; }

.galeria-imagen--g3 {
  grid-area: img3; }

.galeria-imagen--g4 {
  grid-area: img4; }

.galeria-imagen--g5 {
  grid-area: img5; }

.galeria-imagen--g6 {
  grid-area: img6; }

.galeria-imagen--g7 {
  grid-area: img7; }

.galeria-imagen--g8 {
  grid-area: img8; }

.galeria-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (max-width: 600px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img1 img1"
 "img1 img1"
 "img4 img4"
 "img4 img4"
 "img2 img7"
 "img5 img5"
 "img5 img5"
 "img6 img3"
 "img8 img8"
 "img8 img8"; } }

/*CONTACTO*/
.cuerpocontacto {
  padding: 0 50px; }

.cuerpocontacto h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 100px; }

.cuerpocontacto h2 {
  margin-bottom: 10px; }

.cuerpocontacto form {
  color: white;
  background-color: rgba(189, 45, 233, 0.143);
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  font-size: 22px; }

.cuerpocontacto input {
  color: white;
  width: 100%;
  background-color: #5757a2;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none; }
  
.cuerpocontacto .boton {
  color: white;
  width: 100%;
  border: none;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 10px;
  font-size: 19px; }

.datos {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px; }

textarea {
  max-width: 200px;
  min-width: 340px;
  max-height: 200px;
  min-height: 100px; }
